/* title */

/* body {
    background-color: rgba(26, 28, 139, 0.733);
} */

#title {
  /* background-color: #2e389154; */
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* padding: 2rem;
  margin: 1rem; */
  border-radius: 20px;
  text-shadow: 2px 2px 2px rgb(0, 0, 0);
  /* border-bottom: 5px solid red;
  border-top: 5px solid red; */
}
#title img {
  max-width: 100px;
}

#title h1 {
  font-size: 50px;
}
/* main container */
.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  padding: 4rem;
  margin: 2rem;
  position: absolute;
  left: 100 px;
}

.sidenav h3 {
  color: red;
  padding-left: 0.5rem;
}
.sidenav {
  background-color: rgb(238, 238, 238);
  display: column;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  min-width: content;
  padding: 0.5rem;
  margin-right: 10rem;
  border: 3px ridge #cbc7ff;
  border-radius: 20px;
}

.form {
  position: absolute;
  top: 0px;
  left: 200px;

}

.results{
  position: absolute;
  top: 125px;
}

.commentForm{
  position: absolute;
  right: 200px;
  top: 165px;
}
.searchBar{
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
#name{
  width: 400px;
}
#list {
  list-style-type: none;
}

/* logos */
#teamImg{
    width: 500px;
    height: auto;
}

#list li:hover {
  list-style-type: none;
  cursor: pointer;
  color: red;
}

.video-background{
  position: absolute;
  right: 0;
  width: 100%;
  height: auto;
  z-index: -10;
}

table {
  border: 1px solid black;
  min-height: 100px;
}

table th {
  border: 1px solid black;
}
table td {
  border: 1px solid black;
}
.form {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 4;
}

#display img {
  max-width: 300px;
  border-radius: 30px;
}

#display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: 500;
  max-width: auto;
}
